<div class="container">
    <div class="avvistamento">
        <button class="title" (click)="cambiaAvvistamento()">
            <div class="titleFont">
                Avvistamento!
            </div>
            <img src="../../assets/images/keyboard_arrow_up_FILL0_wght400_GRAD0_opsz48.svg" alt="expand"
                [class]="avvistamento == true ? 'expand' : 'expandUpsidedown'">
        </button>

        <form *ngIf="avvistamento == true" class="options">
            <select class="multiSelect" [(ngModel)]="pokemonSelected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let pokemon of allPokemons" [ngValue]="pokemon">{{pokemon.name}}</option>
            </select>

            <input class="image" type="file" id="pokemonPic" name="pokemonPic" accept="image/*"
                (change)="fileChangeEvent($event)">

            <input class="searchInput" type="text" name="note" id="note" [formControl]="note">

            <div class="buttons">
                <input value="Annulla" class="cancelButton" type="reset" (click)="cancel()">
                <!-- <button class=" cancelButton" (click)="resetDatabase()">Reset</button> -->
                <button class="submitButton" [disabled]="checkAll()" (click)="submit()">Segnala</button>
            </div>
        </form>
    </div>

    <div class="pokemons">
        <ng-container *ngFor="let pokemonList of pokemonList$ | async">
            <div *ngFor="let appearance of pokemonList.appearance" class="pokemonContainer">
                <div class="pokemonImageContainer">
                    <img [src]="appearance.image" [alt]="pokemonList.name" class="pokemonImage">
                </div>

                <div class="pokemonGenericInfo">
                    <div class="id">#{{pokemonList.id}}</div>
                    <div class="name">{{capitalizePokemonName(pokemonList.name)}}</div>
                    <div>Data:</div>
                    <div class="data">{{appearance.date}}</div>
                    <div>Coordinate:</div>
                    <div class="place">{{appearance.place}}</div>
                    <div>Note:</div>
                    <div class="note">{{appearance.note}}</div>
                </div>
            </div>
        </ng-container>
    </div>
</div>