<router-outlet></router-outlet>

<div *ngFor="let pokemonList of pokemonList$ | async">
    {{pokemonList | json}}
</div>

id
<input type="number" name="pokemonId" id="pokemonId" [formControl]="pokemonId">
<br>
nome
<input type="text" name="pokemonName" id="pokemonName" [formControl]="pokemonName">
<br>
immagine
<input type="file" id="pokemonPic" name="pokemonPic" accept="image/*" (change)="fileChangeEvent()">
<br>
note
<input type="text" name="pokemonNote" id="pokemonNote" [formControl]="pokemonNote">
<br>
<button type="submit" (click)="submit()">popola</button>
<button (click)="resetDatabase()">reset</button>
<br>